# Ignored files
.ignoredir


data/results/res_filename.*
data/results/stable_models.*


# Reportes comparativos

doc/



# Some other folders
plots
temp
tmp
doc

# Temporary files
*snapshot*
*.asv
**/~$*.xlsx
*.~f1

data/results/res_filename.*
data/results/stable_models.*
#estimation/data/*
estimation/log
*.pptx
*.evsettings
*.~rg
#Models/*/estimation/**/*.csv

#Quarto Outputs
*.css
*.html
*.woff
*.js
# .vscode configuration files
.vscode

# .mat files
scripts/**/*.mat
